.card {
  width: 282px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card__image-overlay {
  position: relative;
}

.card__delete-btn {
  background-image: url(../images/Trash.svg);
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19.3px;
  border: none;
  background-color: rgba(225, 225, 225, 0);
  cursor: pointer;
}

.card__delete-btn:hover {
  opacity: 60%;
}

.card__image {
  height: 282px;
  width: 282px;
}

.card__image_option_pop-out {
  max-width: 75vw;
  max-height: 75vh;
}

.card__pop-out_caption {
  font-family: "Inter", sans-serif;
  font-weight: 400px;
  font-size: 12px;
  line-height: 14.52px;
  margin-top: 10px;
  color: white;
}

.card__label {
  background-color: #fff;
  display: flex;
  width: 282px;
  padding-top: 6px;
  padding-bottom: 6px;
  justify-content: space-between;
  padding: 0;
}

.card__name {
  margin: 25px 0 25px 20px;
  font-size: 24px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  margin-left: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 219px;
}

.card__heart {
  background-image: url(../images/HeartVector.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(225, 225, 225, 0);
  border: none;
  height: 18px;
  width: 21px;
  margin-top: 31px;
  margin-right: 20px;
  transition: background-image 1s ease-in;
  cursor: pointer;
}

.card__heart:hover {
  opacity: 50%;
}

.card__heart-option-liked {
  background-image: url(../images/Union.svg);
}
