.card {
  width: 282px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card__image {
  height: 282px;
  width: 282px;
}

.card__label {
  background-color: #fff;
  display: flex;
  width: 282px;
  padding-top: 6px;
  padding-bottom: 6px;
  justify-content: space-between;
}

.card__name {
  margin: 25px 0 25px 20px;
  font-size: 24px;
  /*
Was asked to change line height to match Figma --
but Figma just says "auto" and I can't find any
information on Inter that lists a standard line-height
  */
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  margin-left: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 219px;
}

.card__heart {
  background-image: url(../images/HeartVector.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(225, 225, 225, 0);
  border: none;
  height: 18px;
  width: 21px;
  margin-top: 31px;
  margin-right: 20px;
  transition: background-image 1s ease-in;
  cursor: pointer;
}

.card__heart:hover {
  opacity: 50%;
}
