.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  background-color: #000;
  column-gap: 17px;
  row-gap: 20px;
  max-width: 880px;
  padding: 5vh 0 4vh 0;
  /*
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: center;
  */
}

/*
.elements__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  background-color: #000;
  column-gap: 17px;
  row-gap: 20px;
  max-width: 880px;
  padding: 5vh 0 4vh 0;
}
*/
