.footer {
  background-color: #000;
  width: 85%;
}

.footer__copyright {
  font-family: "InterVariable", sans-serif;
  color: #545454;
  font-size: 18px;
  margin-bottom: 60px;
  max-width: fit-content;
}

@media all and (max-width: 1042px) {
  .header {
    width: 95%;
  }
}

@media all and (max-width: 700px) {
  .header {
    width: 100%;
  }
}
