.footer {
  background-color: #000;
  max-width: 880px;
  margin: auto;
}

.footer__copyright {
  font-family: "InterVariable", sans-serif;
  color: #545454;
  font-size: 18px;
  margin-bottom: 60px;
  max-width: fit-content;
}

@media all and (max-width: 700px) {
  .footer {
    max-width: 282px;
  }
}
