.form__input_type_error {
  margin-bottom: 5px;
  border-bottom: solid 1px red;
}

.form__input-error_active {
  color: red;
  margin-left: 36px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
}

.form__button_inactive {
  background-color: #fff;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
}

.form__button_inactive:hover {
  background-color: #fff;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
}
