.header {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  padding-top: 45px;
  width: 85%;
  box-sizing: border-box;
  margin: 0 auto;
  border-bottom: solid 1px;
  border-color: #d9d9d9;
}

.header__logo {
  height: 33px;
  width: 173px;
  margin-bottom: 41px;
}

@media all and (max-width: 1042px) {
  .header {
    width: 95%;
  }
}

@media all and (max-width: 700px) {
  .header {
    width: 100%;
  }
}
