

.header {
  background-color: #000;
  display: flex;
  flex-direction: column;
  width:
  align-content: space-between;
  padding: 45px 200px 0px;
}

.header__logo {
  height: 33px;
  width: 173px;
  margin-bottom: 41px;
}

.header__underline {
  border-bottom: solid 1px;
  border-color: #545454;
}

