.header {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  padding-top: 45px;
  max-width: 880px;
  box-sizing: border-box;
  margin: 0 auto;
}

.header__logo {
  height: 33px;
  width: 173px;
  margin-bottom: 41px;
}

.header__underline {
  border-bottom: solid 1px;
  border-color: #545454;
  min-width: 320px;
  max-width: 880px;
}
