.info {
  display: grid;
  grid-template-columns: minmax(90%, 400px) auto;
  align-items: baseline;
  margin: 22px 0px 21px 30px;
}

.info__name {
  font-family: "InterMedium", sans-serif;
  font-weight: normal;
  color: #fff;
  font-size: 42px;
  line-height: 1.14;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.info__button {
  height: 24px;
  width: 24px;
  margin-left: 18px;
  border: solid 1px;
  border-color: #fff;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 15px;
  background-image: url(../images/EditVector.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.info__button:hover {
  opacity: 50%;
}

.info__job-title {
  font-family: "InterRegular", sans-serif;
  font-weight: normal;
  color: #fff;
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 150px;
  grid-column-start: 1;
  grid-column-end: 3;
}

@media all and (max-width: 1042px) {
  .info {
    margin-left: 15px;
  }

  .info__name {
    font-size: 32px;
  }
}

@media all and (max-width: 700px) {
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 30px 0 36px 0;
  }

  .info__name {
    font-size: 22px;
    padding-bottom: 10px;
  }

  .info__button {
    margin: 0;
    position: absolute;
    top: 5px;
    right: 15px;
    height: 18px;
    width: 18px;
  }

  .info__job-title {
    margin: 0 auto;
    font-size: 14px;
  }
}
