.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: visibility 0s, opacity 1s ease-in-out;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  width: 430px;
  height: 330px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  border-radius: 10px;
  line-height: 21.78px;
  background-color: white;
}

.modal__wrapper {
  position: relative;
}

.modal__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url(../images/Close\ Icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.modal__close-button:hover {
  opacity: 60%;
}

.modal__title {
  margin-top: 34px;
  margin-left: 36px;
  margin-bottom: 54px;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.modal__input {
  width: 83.25%;
  margin: 0 auto 29.74px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Inter", sans-serif;
  color: black;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  padding-bottom: 13px;
}

.modal__input:last-of-type {
  margin-bottom: 48px;
}

.modal__save-button {
  width: 83.25%;
  background-color: black;
  font-family: "Inter", sans-serif;
  color: white;
  height: 50.15px;
  border: none;
  border-radius: 2px;
  text-align: center;
  margin: 0 auto 0;
  cursor: pointer;
}

.modal__save-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media all and (max-width: 745px) {
  .modal__container {
    width: 282px;
    height: 322px;
  }

  .modal__title {
    margin-top: 25px;
    margin-left: 22px;
    font-size: 18px;
    line-height: 21.78px;
    margin-bottom: 76px;
  }

  .modal__input {
    width: 84.3%;
    margin: 0 auto 30px;
    padding-bottom: 9px;
  }

  .modal__input:last-of-type {
    margin-bottom: 45px;
  }

  .modal__save-button {
    width: 84.3%;
    margin: 0 auto 13px;
    height: 46px;
    font-size: 14px;
    line-height: 16.94px;
  }

  .modal__close-button {
    position: absolute;
    width: 26px;
    height: 26px;
    top: -40px;
    right: 0px;
  }
}
