.profile {
  padding: 40px 200px 0px;
  background-color: #000;
  width: 880px;
  height: 120px;
  display: flex;
  flex-direction: row;
}

.profile__circle {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  overflow: hidden;
}

.profile_avatar {
  height: 127.5px;
  width: 168.75px;
}

.profile__info {
  height: 77px;
  width: 415px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  margin: 22px 0px 21px 30px;
}

.profile__button {
}
