.profile {
  width: 880px;
  padding-top: 40px;
  background-color: #000;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.profile__circle {
  background-image: url(../images/Avatar.png);
  margin: 0;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  flex-shrink: 0;
  justify-content: center;
}

.profile__sheer-hover {
  margin: 0;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  position: absolute;
  position: 0;
  background-image: url(../images/EditVector.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 26px;
  background-color: #000;
  opacity: 0;
  cursor: pointer;
  transition: 0.1s ease-in;
}

.profile__sheer-hover:hover {
  opacity: 0.8;
}

.profile__button {
  width: 150px;
  height: 50px;
  flex-shrink: 0;
  border: solid #fff 2px;
  border-radius: 2px;
  background-color: rgba(225, 225, 225, 0);
  margin: auto 0 auto auto;
  background-image: url(../images/PlusVector.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.profile__button:hover {
  opacity: 60%;
}

@media all and (max-width: 1000px) {
  .profile {
    width: 100%;
  }
}

@media all and (max-width: 745px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    width: 282px;
  }

  .profile__circle__wrapper {
    margin: 0 auto;
  }

  .profile__circle {
    margin: 0 auto;
  }

  .profile__button {
    width: 282px;
    margin: 0 auto;
  }
}
